.head{
    background-color: rgb(3, 48, 63);
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid rgb(8, 8, 8);

}


    
    p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    
    }
